<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shelter Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='furtive.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://use.fontawesome.com/5f2c866bce.js"></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="measure">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="m1 p1">
          {% for message in messages %}
          <p><strong>{{message}}</strong></p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
  </body>
</html>