{% extends "google-base.html" %}
{% block content %}

  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <div id="result"></div>
  <script>
    function onSignIn(googleUser) {

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/gconnect?state={{STATE}}');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function(e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            $('#result').html(xhr.responseText);
            setTimeout(function(){window.location.href="/shelter";},4000)
          } else {
            console.error(xhr.statusText);
          }
        }
      };
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      };
      xhr.send('idtoken=' + id_token);

    };
  </script>
{% endblock %}