{% extends "base.html" %}

{% block content %}

<h1>{{shelter.name}}</h1>
{% if session.user_id == shelter.user_id %}
<div class="txt--right">
  <a class="btn--green" href="{{url_for('newPuppy', shelter_id=shelter.id)}}">Found a New Puppy</a>
  <a class="btn--blue" href="{{url_for('editShelter', shelter_id=shelter.id)}}">Edit Shelter</a>
  <a class="btn--red" href="{{url_for('deleteShelter', shelter_id=shelter.id)}}">Close Shelter</a>
</div>
{% endif %}
<div class="grd">
  {% for row in puppies|batch(3) %}
  <div class="grd-row bg--light-gray p1">
    {% for puppy in row %}
      <div class="grd-row-col-2-6 jc-sa direction-column p1">
        <img src="{{puppy.picture}}" alt="{{puppy.name}}">
        <a href="{{url_for('detailPuppy',shelter_id=shelter.id, puppy_id=puppy.id)}}" class="h4">{{puppy.name}}</a>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock %}