{% extends "base.html" %}

{% block content %}

<div class="jc-sb align-baseline">
  <h1>Shelters</h1>
  {% if 'username' in session %}
  <a class="btn--green" href="{{url_for('newShelter')}}">New Shelter</a>
  {% endif %}
</div>
<div class="grd">
  {% for row in shelters|batch(2) %}
    <div class="grd-row">
    {% for shelter in row %}
      <div class="grd-row-col-3-6 bg--light-gray p2 m1">
        <a href="{{url_for('listPuppy', shelter_id=shelter.id)}}">{{shelter.name}}</a>
        <p>
          {{shelter.address}}<br>
          {{shelter.city}},<br>
          {{shelter.state}} {{shelter.zipCode}}
        </p>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>

{% endblock %}